<style type="text/css">

/* shell wrapping for page */



.siteWrapper {
    text-align: center;
}

.pageWrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    position: relative;
}

.globalNavigation {
    background-color: #202020;
    border-bottom: 1px solid #333;
    padding: 9px 9px 8px;
    height: 43px;
}

.globalLogo {
    float: left;
}


.header {background-color:#888;
background-image: url("/OpenElectives/resources/images/elective_header2.jpg");
width:900px;
height:110px;
padding:30px;

}

.header, .header p {
  font-size: 48px;
  font-weight:bold;
  line-height: 1.6em;
  color: #Fff;
}

#footer_blurb {
    text-align: center;
    color: #757575;
    font-family: Arial,sans-serif;
    font-size: 10px;
    line-height: 12pt;
}

body {
	background-color: #444;
	font-family: Arial,sans-serif;
}

/* end of shell wrapping */

h1 {
    color: #f60;
    font-family: arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
	line-height: 1.2em;
    margin-bottom: 0.3em;
}

h2 {
    color: #F30;
    font-family: arial,sans-serif;
    font-size: 22px;
    font-weight: bold;
}

h3 {
    color: #F30;
    font-family: UniversLTStd-BoldCn,UniversCondensed,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
  /**  margin-bottom: 0.2em !important;   **/
}

p { 
font-family: Helvetica,sans-serif;
font-size: 14px;
line-height: 150%;

}


ul li {
  font-size: 14px;
  line-height: 1.6em;
}

ol li {
  font-size: 14px;
  line-height: 1.6em;
}

a {
  color: #F60;
  text-decoration: underline;
}
a:hover {
  color: #767d00;
  text-decoration: underline;
}




/* white content area */

.contentArea {background-color:#FFF;
width:900px;
padding:30px;

}

.contentArea, .contentArea p {
  font-size: 14px;
  line-height: 1.6em;
}

.contentArea ul li {
  font-size: 14px;
  line-height: 1.6em;
}

.contentArea ol li {
  font-size: 14px;
  line-height: 1.6em;
}

.contentArea a {
  color: #F60;
  text-decoration: underline;
}
.contentArea a:hover {
  color: #F90;
  text-decoration: underline;
}

/* end of content area */

/* electives table  */

table.electives {
border: 0px #CCCCCC solid;
border-collapse: collapse;
font-family: Helvetica,sans-serif;
font-size: 12px;
line-height: 150%;
}

table.electives td {
border: 0px #CCCCCC solid;
  padding: 5px;
background-color: #ebebeb;
border-bottom: 5px solid #fff;

}

table.electives th {
background-color:#FF4C00;
padding: 12px;
    font-family: UniversLTStd-BoldCn,UniversCondensed,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
	color: #ffffff;
}

tr.subhead td  {
background-color:#434343;
padding: 10px;
    color: #ffffff;
    font-family: UniversLTStd-BoldCn,UniversCondensed,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
	border-bottom: 0px;
}
tr.grey td  {
background-color:#dfdfdf;
}

tr.category td  {
background-color:#004575;
padding: 5px;
font-weight:bold; color: #FFFFFF !important; font-size: 10pt;
}

.leftcol {    
font-weight: bold;    
text-align: left;    
width: 150px;    
background-color: #EEEEEE;
}

.contactimage {border: 1px #ffffff solid;
margin-right: 20px;

}


/**  end of table items **/





/*  form styles */

.filter {
	width: 760px;
	text-align: left;
}

.dropdown {
	float: right;
	width: 580px;
}

.input {
	float: right;
	width: 575px;
	height: 18px;
}

.submit {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.submit input {
	width: 200px;
	height: 30px;
}

/*  end of form styles */


</style>